<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html" >
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html" >
<link rel="import" href="../bower_components/paper-toast/paper-toast.html" >
<link rel="import" href="../bower_components/paper-material/paper-material.html" >
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html" >
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" >
<link rel="import" href="../bower_components/paper-button/paper-button.html" >
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="log-view.html">

<dom-module id="run-chooser">
  <template>
    <style>
      :host {
      	width: 100%;
      	height: 100%;
		position: absolute;
      }
      #log {
		  margin: 15px;
      width: 100%;
      }
	  #actions {
	  	padding: 15px;
	  }
	  .runTitle {
      	font-size: 17px;
      }
    </style>
    <style is="custom-style">
      paper-toolbar {
      	--paper-toolbar-background: #00897B;
		--paper-toolbar-title: {
			font-size: 18px;
			line-height: 1.2;
		};
      }
      paper-icon-button.giant {
      	width: 50px;
		height: 50px;
	  }
	  .nav {
	  	background-color:  #009688;
		margin: 5px;
	  }
	  .save-button {
	  	background-color:#FFAB00;
	  }
	  .remove-button {
		background-color: #FF5722;
      	margin-right: 10px;
      }
      paper-item.run {
      	font-size: 14px;
      }
      paper-material.drawer-card {
      	background: #fff;
      	margin: 15px;
      	padding: 10px;
      	maximum-height: 600px;
	  }
	  paper-icon-button.affirm {
      	color: #00695C;
      };
    </style>

	<iron-ajax  
	   id="ajax" 
	   method="GET" 
	   url="../src/log.php" 
	   handle-as="json" 
	   debounce-duration="300">
	</iron-ajax>


    <paper-drawer-panel>
      <paper-header-panel drawer style="background: #E5E5E5;">
	<paper-toolbar>
	  <paper-icon-button on-tap="removeAction" icon="delete" mini></paper-icon-button>
	  <div class="title">Feed Log Viewer</div>
	</paper-toolbar>
	
	<!-- SET TEMPERATURE TO MAINTAIN AND UPDATE INTERVAL -->
	<paper-material class="drawer-card layout vertical center">
		<paper-input id="tempInput" value="{{goalTemp}}" label="Goal Temperature">
 		 	<paper-icon-button suffix icon="check-circle" class="affirm" on-tap="updateThreshold"></paper-icon-button>
		</paper-input>

		<paper-input id="intInput" value="{{upInterval}}" label="Update Interval">
 		 	<paper-icon-button suffix icon="check-circle" class="affirm" on-tap="updateInterval"></paper-icon-button>
		</paper-input>
	</paper-material>
	
	<!-- AVAILABLE RUN LIST -->
	<paper-material class="drawer-card layout vertical center">
	  <div class="runTitle">Available Logs</div>
	  <paper-menu id="runMenu" selected="{{runIndex}}">
	    <template is="dom-repeat" items="{{runs}}">
            <paper-item class="run" on-click="toggleAction">{{item.time}}</paper-item>
	    </template>
       </paper-menu>
	</paper-material>
	
      </paper-header-panel>
      <paper-header-panel main>
	<paper-toolbar id="toolbar">
	  <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
	  <div class="title">Log #{{runNum}}</div>
	  <paper-icon-button on-tap="prevRun" icon="undo"></paper-icon-button>
	  <paper-icon-button on-tap="reloadRun" icon="refresh"></paper-icon-button>
	  <paper-icon-button on-tap="nextRun" icon="redo"></paper-icon-button>
	  <div class="flex"></div>
	  <paper-icon-button icon="file-download" on-tap="exportCSV"></paper-icon-button>
	</paper-toolbar>
	
	<div class="layout horizontal center-center">
<!--<template is="dom-repeat" items="{{runNums}}">-->
          <log-view id="log" run-num="{{runNum}}"></log-view>
<!--</template>-->
	</div>
	
    </paper-header-panel>
      

    </paper-drawer-panel>

    
    <paper-dialog id="actions" class="layout vertical center-center">
      <h2>Delete Run</h2>
      You wish to delete run {{runNum}}?
      <br>
      <div class="buttons">
        <paper-button dialog-dismiss autofocus>No</paper-button>
        <paper-button dialog-confirm on-tap="removeRun">Yes</paper-button>
      </div>
    </paper-dialog>
    
    <paper-toast id="notifRunRemoved" text="Run deleted."></paper-toast>
    <paper-toast id="notifThreshChange" text="Temperature goal updated."></paper-toast>
    <paper-toast id="notifIntervalChange" text="Log interval updated."></paper-toast>
    
  </template>
  
  <script>

	Polymer({
		is: "run-chooser",
		properties: {
			runNum: {
				type: Number,
				notify: true
			},
			runIndex: {
				type: Number,
				notify: true
			},
			goalTemp: Number,
			upInterval: Number
		},
		ready: function() {
			this.refreshIds();
			this.$.ajax.addEventListener('response', function(e) {
				var type = "";
				if(e.detail.response) {
					// what did we get back
					type = e.detail.response['type'];
					
					// parse all runs in database
					if( type == "availableRuns" ){
						this.goalTemp = e.detail.response['goalTemp'];
						this.upInterval = e.detail.response['upInt'];
						this.lastGoalTemp = this.goalTemp;
						this.lastUpInterval = this.upInterval;
						this.runs = e.detail.response.values;
						this.runNum = this.runs[0]['runNum'];
						this.runIndex = 0;
						this.$.log.runNumChanged();
					} 
					// notification of a deletion
					else if( type == "deleteSuccess" ){
						this.$.notifRunRemoved.show();
						this.refreshIds();
					}
					// notification of thresh update OK
					else if( type == "threshChangeSuccess" ){
						this.$.notifThreshChange.show();
					}
					// notification of log interval update OK
					else if( type == "intervalChangeSuccess" ){
						this.$.notifIntervalChange.show();
					}
				}
			}.bind(this));
		},
		refreshIds: function() {
			this.$.ajax.params = {"ids": 1};
			this.$.ajax.generateRequest();
		},
		toggleAction: function(e) {			
			this.runNum = this.runs[this.runIndex]['runNum'];
			this.$.log.runNumChanged();
		},
		prevRun: function(e) {
			if(this.runIndex > 0)
				this.runIndex--;
			
			if( this.runNum != this.runs[this.runIndex]['runNum'] ){
				this.runNum = this.runs[this.runIndex]['runNum'];
				this.$.log.runNumChanged();
				return true;
			} else {
				return false;
			}
		},
		nextRun: function(e) {
			if( this.runIndex < this.runs.length - 1 )
				this.runIndex++;
				
			if( this.runNum != this.runs[this.runIndex]['runNum'] ){
				this.runNum = this.runs[this.runIndex]['runNum'];
				this.$.log.runNumChanged();
				return true;
			} else {
				return false;
			}
		},
		reloadRun: function(e) {
			this.$.log.runNumChanged();
		},
		exportCSV: function(e) {
			console.log("requesting export");
			document.location="src/log.php?dl=" + this.runNum;
		},
		removeAction: function() {
			this.$.actions.open();
		},
		removeRun: function(e) {
			this.$.ajax.params = {"rm": this.runNum};
			this.$.ajax.generateRequest();
		},
		updateThreshold: function() {
			if( this.lastGoalTemp != this.goalTemp ){		
				this.$.ajax.params = {"setThresh": this.goalTemp};
				this.$.ajax.generateRequest();
			}
		},
		updateInterval: function() {
			if( this.lastUpInterval != this.upInterval ){
				this.$.ajax.params = {"setInterval": this.upInterval};
				this.$.ajax.generateRequest();
			}
		}
	});

	</script>

</dom-module>
